//
   Created by dannyhaitran on 15-07-08.
#welcome.z-depth-2
    include welcome/welcome.jade
#promotion.z-depth-2(name='promotion')
    include promotion/promotion.jade
#about.z-depth-2(name='about')
    include about/about.jade
#services
    include services/services.jade
#stylists
    include stylists/stylists.jade
//#testimonials.z-depth-1
//    include testimonials/testimonials.jade
#contacts
    include contact/contact.jade