//
   Created by dannyhaitran on 15-07-08.
#welcome.z-depth-2
    include welcome/welcome.jade
#about.z-depth-2(name='about')
    include about/about.jade
#services
    include services/services.jade
#testimonials.z-depth-1
    include testimonials/testimonials.jade
#contacts
    include contact/contact.jade