footer#page-footer1.page-footer
    .container
        .row
            .col.l6.s12
                h5.white-text Rush Salon
            .col.l4.offset-l2.s12
                li
                    a.grey-text.text-lighten-3(href='#', scroll-to='about') About
                li
                    a.grey-text.text-lighten-3(href='#', scroll-to='services') Services
                li
                    a.grey-text.text-lighten-3(href='#', scroll-to='services') Products
                li
                    a.grey-text.text-lighten-3(href='#testimonials') Testimonials
                li
                    a.grey-text.text-lighten-3(href='#/', scroll-to='contacts') Contact
    .footer-copyright
        .container.center
            p &copy; 2013 Copyright Text | All rights reservered.
