doctype
html(ng-app="dannyhaitran")
    header
        meta(name="viewport" content="width=device-width" initial-scale=1)
        title Suzy Vo Hair Salon
        link(rel='stylesheet', href='css/materialize.min.css')
        //link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet', href='css/style.css')
    body(ng-controller="MainController as mainCtrl")
        div.row
            div.col.s12
                h1.col.s1 Page is Under Construction
            div.col.s12
                h3.col.s3 c. 778.778.7778
        script(language="JavaScript" type="text/javascript" src="/scripts/angular/angular.min.js")
        script(language="JavaScript" type="text/javascript" src="/scripts/angular-route/angular-route.min.js")
        script(language="JavaScript" type="text/javascript" src='/scripts/ngSmoothScroll/angular-smooth-scroll.js')
        script(language="JavaScript" type="text/javascript" src="js/jquery-1.11.2.js")
        //script(language="JavaScript" type="text/javascript" src="js/bootstrap.min.js")
        script(language="JavaScript" type="text/javascript" src="js/materialize.min.js")
        script(language="JavaScript" type="text/javascript" src="js/parallax.min.js")
        script(language="JavaScript" type="text/javascript" src="controllers/projects.js")
        script(language="JavaScript" type="text/javascript" src="controllers/core.js")
