div.row(ng-controller='ServiceController as serviceCtrl')
    section.col.s12.m10.offset-m1
        p 25% OFF
        h1  For New Clients
        h2 Receive our special introductory of 25% off your first Cut or Colour service. This is our way of thanking you for visiting our site.
