.row.welcome
    #catch-phrase
        #inner-catch-phrase.col.s12
            h1.text-center R U S H
            h5.text-center salon
            p.text-center Your Local Hair Experts
        .row
            .col.s12.l3.offset-l3.text-center
                a.waves-effect.waves-teal.btn.white(href='#', scroll-to='services', ng-click='mainCtrl.tabClick(1)') Services
            .col.s12.l3.text-center
                a.waves-effect.waves-teal.btn.white(href='#', scroll-to='services', ng-click='mainCtrl.tabClick(2)') Products
    .col.s12.m6.offset-m3
        #call-to-action.card
            .card-content.white.valign-wrapper
                span.card-title.valign.text-center
                    p.flow-text Click here to book your appointment
        span.col.s12.text-center
            a(href='#', scroll-to='about')
                i.large.mdi-navigation-expand-more.glyph-white
