.row.welcome
    #catch-phrase
        #inner-catch-phrase.col.s12
            h1.white-text.text-center The Face Studio
            p.white-text.text-center Permanent Makeup &amp; Skin Revision
        .row
            .col.s12.m3.offset-m3.text-center
                a.waves-effect.waves-teal.btn.white(href='#', scroll-to='services', ng-click='tab = 1') Cosmetic Tattoos
            .col.s12.m3.text-center
                a.waves-effect.waves-teal.btn.white(href='#', scroll-to='services', ng-click='tab = 2') Skin Revision
    .col.s12.m6.offset-m3
        #call-to-action.card
            .card-content.white.valign-wrapper
                span.card-title.valign.text-center
                    p.flow-text call today to book a FREE consultation
                        b.flow-text  778.238.2826
        span.col.s12.text-center
            a(href='#', scroll-to='about')
                i.large.mdi-navigation-expand-more.glyph-white
