.row.welcome
    #catch-phrase
        #inner-catch-phrase.col.s12
            h1.white-text.text-center Rush Salon YVR
            p.white-text.text-center Your Local Hair Experts
        .row
            .col.s12.m3.offset-m3.text-center
                a.waves-effect.waves-teal.btn.white(href='#', scroll-to='services', ng-click='tab = 1') Products
            .col.s12.m3.text-center
                a.waves-effect.waves-teal.btn.white(href='#', scroll-to='services', ng-click='tab = 2') Services
    .col.s12.m6.offset-m3
        #call-to-action.card
            .card-content.white.valign-wrapper
                span.card-title.valign.text-center
                    p.flow-text call today for an appointment
                        b.flow-text  778.558.0639
        span.col.s12.text-center
            a(href='#', scroll-to='about')
                i.large.mdi-navigation-expand-more.glyph-white
