#inner-about.row
    section.about-header
        section.about-content
            .col.s12
                .col.s12.m10.offset-m1
                    h1 MISSION
                    p To delight our guests every time by creating an appealing experience straight from our heart. We are dedicated to surpass your expectation in every way possible while providing with superior quality of attentive service.
            .col.s12.colored
                .col.s12.m10.offset-m1
                    h1 VISION
                    p To be the primary choice for guests & associates.
            .col.s12
                .col.s12.m10.offset-m1
                    h1 TEAM
                    p Our experienced and motivated team are equipped with precise education and share the same mindset to naturally deliver on this assurance.