#inner-about.row
    section.about-header
        section.about-content
            .row
                .col.s12.m8.offset-m2
                    .card.white.center
                        .card-content
                            span.card-title What is The Face Studio
                            p The Face Studio has been providing cosmetic tattooing services for the last 8 years to a large client base across the Greater Vancouver area, and is certified by BioTouch Canada. Our professional services are designed to benefit anyone who wishes to enhance or define their natural beauty. Cosmetic tattoo treatments allow busy people to look their best at all times without the hassle of a daily makeup routine.
                    .card.white.center
                        .card-content
                            span.card-title Cosmetic Tattooing
                            p Cosmetic tattooing is revolutionizing the traditional world of makeup application. Imagine having perfectly designed eyebrows, beautifully defined eyes and sensual looking lips lasting not for 1 day but for several years!
                    .card.white.center
                        .card-content
                            span.card-title Anyone can do it
                            p Today both men and women have realized the benefits of semi-permanent, hassle-free and time saving features of Semi-Permanent Cosmetics.
                    .card.white.center
                        .card-content
                            span.card-title Our Mission
                            p Our mission is to encourage you to &ldquo;Put your best face forward&rdquo;. Whether it&rsquo;ll be a natural enhancement of the look you already possess, or a minor adjustment to obtain the look you want to possess. Either way, our goal is to give you full confidence in your appearance. Here at The Face Studio, we meet and exceed all government sterilization standards.