div.row(ng-controller='ServiceController as serviceCtrl')
    h1.card.text-center Services & Products
    div.col.s12
        ul.tabs.main-tabs
            li.tab.col.s6
                a(href='#tab1' ng-class="{active: $scope.tab == 1}" ng-click='mainCtrl.tabClick(1)') Services
            li.tab.col.s6
                a(href='#tab2' ng-class="{active: $scope.tab == 2}" ng-click='mainCtrl.tabClick(2)') Products
        div.service-2.service(id="tab1")
            div.col.s12
                h2 Services
                p {{serviceCtrl.getServiceDesc(1)}}
            .col.s12.m6.l4(ng-repeat='service in serviceCtrl.services[0].options')
                a.waves-effect.waves-light.modal-trigger.col-xs-12(ng-click="serviceCtrl.openModal('#'+service.id)")
                    div.card(back-img="{{'/'+service.image}}")
                        div.card-content.text-center
                            span#service-card.card-title {{service.name}}
                // Modal Structure
                .modal(ng-attr-id='{{service.id}}')
                    div.col.s12.m10.offset-m1
                        h4 {{service.name}}
                        span(ng-repeat='desc in service.description')
                            .col.s8.left-align
                                p {{desc.title}}
                            .col.s4.right-align
                                p.flow-text {{desc.price}}
                            .col.s12
                                small {{desc.description}}
                        .col.s12.action-bar
                            a.waves-effect.waves-green.btn-flat.modal-action.modal-close(href='#' ng-click="serviceCtrl.closeModal()") Close
        div.service-2.service2(id="tab2")
            div.col.s12.m4
                h2 Products
                p {{serviceCtrl.getServiceDesc(2)}}
            div.row.col.s12.m8
                div.col.s12(ng-repeat='product in serviceCtrl.services[1].options')
                    img(src="{{'/'+product.image}}")


